<label for="idProducto">ID Producto:</label>
<input type="number" id="idProducto" required [(ngModel)]="producto.idProducto"/><br /><br />

<label for="nombreProducto">Nombre Producto:</label>
<input type="text" id="nombreProducto" required [(ngModel)]="producto.nombreProducto"/><br /><br />

<label for="precioUnitario">Precio Unitario:</label>
<input type="number" id="precioUnitario" required [(ngModel)]="producto.precioUnitario"/><br /><br />

<label for="unidadesStock">Unidades en Stock:</label>
<input type="number" id="unidadesStock" required [(ngModel)]="producto.unidadesStock"/><br /><br />

<label for="idCategoria">ID Categoría:</label>
<input type="number" id="idCategoria" required [(ngModel)]="producto.idCategoria"/><br /><br />

<button (click)="darDeAlta()">dar de alta</button>
